<a href="https://colab.research.google.com/github/Shenkjain0711/NotesOfYouTubeSQLSeries/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
start_num = int(input("Enter starting num: "))
end_num = int(input("Enter ending num: "))
numbers = range(start_num,end_num+1)
sum = 0
for x in numbers:
  if (x%2!= 0):
    print(x)

Enter starting num: 2
Enter ending num: 45
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45

In [ ]:
orders = [100, "invalid","none", 100, 20, 'Cancel']
sum = 0
i= 0
while i < len(orders):
  if type(orders[i]) == int or type(orders[i])== float:
    sum = sum+orders[i]
  else:
    pass
  i= i+1
print("sum:", sum)
print(orders.index("none"))
print(orders.count(100))

sum: 220
2
2

In [ ]:
##List Comprehension
order_amount = [(100,5),(200,18),(50,12),(500,18),(400,42)]
tot_order = [x+y for x,y in order_amount]
print(tot_order)
abc = [1,2,3,4,5]

[105, 218, 62, 518, 442]

In [ ]:
word = {'a':'smart', 'b':'great', 4:0}
print(word.values())
print(word['a'])
word['a'] = "car"
print(word.values())

dict_values(['smart', 'great', 0])
smart
dict_values(['car', 'great', 0])

In [ ]:
#list of tuples in dictionary
order = [(101,1000),(102, 2000)]
print(order[1])
t=dict(order)
print(type(t))
print(t.items())

(102, 2000)
<class 'dict'>
dict_items([(101, 1000), (102, 2000)])

In [ ]:
#How to build dictionary
cust_raw_data= """id, name, city, phone
101, Mary, Rochester, 2554184
102, Shikha, Auburn, 2554986756184"""
cust_header= cust_raw_data.split("\n")[0]
cust_data = cust_raw_data.split("\n")[1:]
d={}
print(cust_header)
print(cust_data)
for x in cust_data:
  d[x.split(",")[0]] = tuple(x.split(",")[1:])
for i,j in d.items():
  print(d.items())

id, name, city, phone
['101, Mary, Rochester, 2554184', '102, Shikha, Auburn, 2554986756184']
dict_items([('101', (' Mary', ' Rochester', ' 2554184')), ('102', (' Shikha', ' Auburn', ' 2554986756184'))])
dict_items([('101', (' Mary', ' Rochester', ' 2554184')), ('102', (' Shikha', ' Auburn', ' 2554986756184'))])

In [ ]:
emp_list = [('Ankit',10000),('Rahul',12000),('Sumit',14000),('Dheeraj',21000),('Pavan',11000),('Mohit',13000)]
d= {}
for k,v in emp_list:
  d.setdefault(k,[]).append(v)
print(d.values())

dict_values([[10000], [12000], [14000], [21000], [11000], [13000]])

In [5]:
# Max value in a dictionary
from collections import defaultdict
class Solution:
  def func(self,nums):
    d = defaultdict(int)
    for x in nums:
      d[x] = d[x] + 1
    m=max(d, key=d.get)
    return m

nums = [2,3,4,2,5,7,2]
t= Solution()
t.func(nums)

2

In [7]:
class myc:
  def func(self,nums):
    d = defaultdict(int)
    for x in nums:
      d[x]= d[x]+1
    m=max(d,key=(d.get))
    return m

di = myc()
di.func([4,6,7,4,4,9,0,4,7,2,4])

4

In [8]:
#Max value in a dictionary

class myc:
  def func(self,nums):
    m = max(nums,key=nums.get)
    return m



t = myc()
t.func({'1': 4, 'car': 6, 'love': 100, '34': 32})

'love'